<div *ngIf="posts.length > 0; else noPosts">
  <div *ngFor="let post of posts" class="post">
    <img [src]="post.postPictureUrl" alt="Post Image" class="post-image" />
    <div class="post-details">
      <p><strong>Created on:</strong> {{ post.creationDate | date:'dd/MM/yyyy' }}</p> <!-- Display creation date -->
      <p><strong>Posted by:</strong> {{ post.user.username }}</p>
      <p>{{ post.description }}</p>
      <p>Likes: {{ post.numberOfLikes }} | Comments: {{ post.numberOfComments }}</p>
      <button (click)="likePost(post.id)">Like</button>
      <div class="comment-section">
        <div *ngFor="let comment of post.comments">
          <p><strong>{{ comment.user.username }}:</strong> {{ comment.content }}</p>
        </div>
        <textarea [(ngModel)]="newComment" placeholder="Add a comment..."></textarea>
        <button (click)="addComment(post.id)">Submit Comment</button>
      </div>
    </div>
  </div>

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <button (click)="nextPage()" [disabled]="currentPage * pageSize >= totalPosts">Next</button>
  </div>
</div>

<ng-template #noPosts>
  <p>No posts available.</p>
</ng-template>
