/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
  }
  

  .dark-theme {
    --background-color: #303030;
    --text-color: #ffffff;
    --primary-color: #1e88e5;
    --secondary-color: #555555;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  button {
    background-color: var(--primary-color);
    color: var(--text-color);
  }
  
 
  